:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


ul,ol {
    margin: 0;
    padding-left: 0;    
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    font-family: var(--font-family);
    color: #434455;
    background-color: #fff;
}

.container {
    width: 1158px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* ========== COMPONENTS ========== */

.second-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}



/* ========== HEADER ========== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.logo-header {
    margin-right: 76px;
}

.piece-logo-header {
    color: #2e2f42;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404bbf;
}



/* ========== HERO ========== */

.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
}

.main-title {
    margin: 0 auto;
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.modal-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
    background:  #404bbf;
}




/* ========== BENEFITS ========== */


.benefits-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.benefits-list-item {
    width: calc((100% - 72px) / 4);
}

.benefits-list-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}




/* ========== TEAM ========== */


.team {
    background-color: #F4F4FD;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.team-list-item {
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background:  #fff;
}

.team-card-content-wrapper {
    padding: 32px 0;
}

.team-list-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:  #434455;
}




/* ========== PORTFOLIO ========== */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3); 
    background: #fff;
}

.portfolio-card-content-wrapper {
    border-bottom: 1px solid  #e7e9fc;
    border-left: 1px solid  #e7e9fc;
    border-right: 1px solid  #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
}

.portfolio-list-services {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42 ;
}

.portfolio-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}




/* ========== FOOTER ========== */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.piece-logo-footer {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}